:root{
  --textT: 241, 247, 247;
  --bgB: 0, 9,3;
  --secondaryS: 0, 0, 0;
  --primaryP: 39, 195, 147;
  --inputI: 55,65,81;
  --boxB: 17, 24, 39;
  --cardD: 41, 52, 72;
}

.light {
  --textT: 241, 247, 247;
  --bgB: 0, 9,3;
  --secondaryS: 0, 0, 0;
  --primaryP: 39, 195, 147;
  --inputI: 55,65,81;
  --boxB: 17, 24, 39;
  --cardD: 41, 52, 72;
}

.dark {
  --textT: 241, 247, 247;
  --bgB: 1, 22, 39;
  --secondaryS: 0, 0, 0;
  --primaryP: 39, 195, 147;
  --inputI: 55,65,81;
  --boxB: 16, 17, 36;
  --cardD: 41, 52, 72;
}
/* rgb(10, 25, 47) */
/* rgb(2, 6, 23)*/
/* rgb(41, 52, 72)*/
/* rgb(34, 41, 51) */
/* rgb(16, 17, 36) */
/* rgba(1, 22, 39, 1) */